### 집합자료형
집합에 관련된 자료형으로 처리하기 위해 만든 자료형이다. set()으로 생성할 수 있다. <br/>

- 중복을 허용하지 않는다 <br/>
- 저장 순서가 없다. <br/>
- 크기순으로으로 정렬한다. (ascending)

In [2]:
# 리스트데이터를 이용하여 set을 생성한다.
data = [75,44,93,14,35,66,61]
print(data)

s1 = set(data) # 한 자리 수들만 오름차순 정렬하고 두 자리수부턴 정렬 안 함(?)
print(s1)

[75, 44, 93, 14, 35, 66, 61]
{66, 35, 75, 44, 14, 61, 93}

In [8]:
# 문자열 이용하여 set을 생성하기 // 중복 허용 안 함
s2 = set('Hello world...')
print(s2)

s3 = set('4568284')
print(s3)

{'e', 'l', 'w', 'H', 'd', 'o', '.', ' ', 'r'}
{'2', '4', '6', '8', '5'}

In [5]:
# set을 리스트로 형변환 // 중괄호가 대괄호로 변해있음
lst = list(s3)
print(lst)

['2', '4', '6', '8', '5']

In [6]:
# set을 튜플로 형변환 // 튜플은 한 번 들어가면 변경 불가
tup = tuple(s3)
print(tup)

('2', '4', '6', '8', '5')

### 교집합, 합집합, 차집합 구하기

In [12]:
set4 = set([1,2,3,4,5,6,7,8])
set5 = set([5,6,7,8,9,10])
print(set4)
print(set5)

{1, 2, 3, 4, 5, 6, 7, 8}
{5, 6, 7, 8, 9, 10}

In [ ]:
# 교집합 ( & : 교집합을 구하는 연산자, ( intersection() ))

In [10]:
set6 = set4 & set5
print(set6)

{8, 5, 6, 7}

In [11]:
set7 = set4.intersection(set5)
print(set7)

{8, 5, 6, 7}

In [13]:
# 합집합 ( | : 합집합을 구하는 연산자, union()과 동일)
set8 = set4 | set5
print(set8)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [14]:
set9 = set4.union(set5)
print(set9)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [17]:
# 차집합 ( - : 차집합 구하는 연산자, difference와 동일) -> set4에서 set5에 있는 데이터를 제외한다.
set10 = set4 - set5
print(set10)

{1, 2, 3, 4}

In [16]:
set11 = set4.difference(set5)
print(set11)

{1, 2, 3, 4}

### 집합자료형 관련 함수

In [19]:
ss = set([10,11,12])

In [20]:
# set 자료형에 1개의 데이터 추가하기
ss.add(100)
print(ss)

{100, 10, 11, 12}

In [21]:
# set 자료형에 여러 개의 데이터 추가하기
ss.update([21,22,23])
print(ss)

{100, 10, 11, 12, 21, 22, 23}

In [22]:
# 특정 데이터 지우기
ss.remove(100)
print(ss)

{10, 11, 12, 21, 22, 23}