### def -> 함수를 생성할 때

def 함수명: <br/>
    실행문<br/>
    실행문<br/>
    실행문<br/>

In [3]:
# 함수 생성 return이 있는 함수
def multiple(n1, n2):
    return n1*n2
multiple(5, 3)

15

In [4]:
# 매개변수가 없는 함수
def question():
    return 'OK'
question()

'OK'

In [12]:
# 구구단 구하는 함수 return 없이
def gugudan(dan):
    r = [ (dan, i, dan * i) for i in range(2,10)]
    for (x,y,z) in r:
        print(f'{x}*{y}={z}')
gugudan(7)

7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63

In [13]:
# 함수 호출
print(multiple(120,200))
print(question())
gugudan(7)

24000
OK
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63

In [14]:
def add(a, b, c):
    sum = a+b+c
    print(f'{a}+{b}+{c}={sum}')

In [15]:
add(10, 20, 30)

10+20+30=60

In [16]:
add(c=100, b=500, a=300)

300+500+100=900

In [17]:
add(50, c=20, b=30)

50+30+20=100

In [21]:
# 매개변수의 개수가 일정하지 않을 때
def add_many(*args):
    result = 0
    for d1 in args:
        result = result + d1
    print(f'result={result}')

result=60

In [22]:
add_many(20,10,30)
add_many(20,10,30,1,5,9,8,7,45)

result=60
result=135

In [24]:
def calculator(menu, *args):
    result = 0
    if menu == 'add':
        for d in args:
            result = result + d
        print(f'{menu}->{result}')
    elif menu == 'minus':
        for d in args:
            result = result - d
        print(f'{menu}->{result}')
    else:
        print('메뉴를 잘못 선택했습니다.')

In [25]:
calculator('add', 3,54,6,6,8)
calculator('minus', 5,5,5,5,3,5,45,1,2)

add->77
minus->-76

In [35]:
# **args 변수명 데이터의 개수가 일정하지 않을 때
def kwargs_test(**args):
    print(args)
    key = args.keys() # key 목록이 list로 구해진다.
    print(f'key --> {key}')
    for k in key:
        print(f'{k}-->{args[k]}')

In [37]:
kwargs_test(a=10)
kwargs_test(name='hong', tel='010-1232')
kwargs_test(kor=100, eng=200, math=300)

{'a': 10}
key --> dict_keys(['a'])
a-->10
{'name': 'hong', 'tel': '010-1232'}
key --> dict_keys(['name', 'tel'])
name-->hong
tel-->010-1232
{'kor': 100, 'eng': 200, 'math': 300}
key --> dict_keys(['kor', 'eng', 'math'])
kor-->100
eng-->200
math-->300

In [39]:
# return 결과가 여러 개일 때
def all_calcu(n1,n2):
    return n1+n2, n1-n2, n1*n2, n1//n2

In [40]:
result1 = all_calcu(10,3)
result1

(13, 7, 30, 3)

In [41]:
r1, r2, r3, r4 = all_calcu(20,4)

In [42]:
print(r1)
print(r2)
print(r3)
print(r4)

24
16
80
5

In [43]:
def info(name, age, woman=True):
    print(f'이름은 {name}')
    print(f'나이는 {age}')
    print(f'성별은 여자이다, {woman}')

In [44]:
info('이은정', '55')

이름은이은정
나이는55
성별은 여자이다, True

In [46]:
xx = 100

def vartest(xx):
    xx = xx+100
    print(xx)

In [47]:
vartest(200)

300

In [48]:
xx

100

In [50]:
zz = 100

def vartest(yy):
    global zz
    yy = yy+100
    zz = yy
    print(yy)

In [51]:
vartest(1000)

1100

In [53]:
zz

1100

In [55]:
# 함수를 lambda형을 만들기
# 함수명    매개변수: 실행문
add5 = lambda a, b:a+b
    
rr = add5(15, 41)
rr

56

In [ ]:
def add5(a,b):
    return a+b