### 리스트(list) 자료형 - index 
숫자나 문자열의 순서와 집합을 처리하는 자료형이다.<br/>
리스트명 = [데이터1, 데이터2, [데이터1, 데이터2]]

In [5]:
# 리스트형 변수 선언하기
d1 = []
d2 = list()
print(d1)
print(d2)

[]
[]

In [8]:
d3 = [1,2,3,4,5,6,7,8,9]
d4 = ['apple','banana','orange','tomato']
print(d3)
print(d4)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
['apple', 'banana', 'orange', 'tomato']

In [9]:
d4 = [1,2,['가','나'],3]
d5 = ['a','b',[1,2,['가','나','다']],'c']
print(d4)
print(d5)

[1, 2, ['가', '나'], 3]
['a', 'b', [1, 2, ['가', '나', '다']], 'c']

In [10]:
print(d4[2][1])

나

In [13]:
print(d5[2][2][0])

가

In [20]:
d3 = [1,2,3,4,5,6,7,8,9]
d6 = [11,12,13,14,15,16]

In [18]:
# 리스트 슬라이싱
print(d3[3:7]) #3번째에서 7번째 앞까지
print(d3[:4]) # 0번째에서 4번째 앞까지
print(d3[4:]) # 4번째부터 끝까지
print(d3[:]) # 전체

[4, 5, 6, 7]
[1, 2, 3, 4]
[5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
# 리스트의 연산
print(d3+d6)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16]

In [23]:
d7 = d6 * 3
print(d7)

[11, 12, 13, 14, 15, 16, 11, 12, 13, 14, 15, 16, 11, 12, 13, 14, 15, 16]

In [24]:
print(d3[2]+d6[3])

17

In [26]:
print(len(d7))
print(len(d5))

18
4

In [28]:
print(str(d3[2])+"개")

3개

In [29]:
d7

[11, 12, 13, 14, 15, 16, 11, 12, 13, 14, 15, 16, 11, 12, 13, 14, 15, 16]

In [31]:
# list의 데이터 지우기
del d7[3] # 두 번 실행해서 지웠음

In [32]:
d7

[11, 12, 13, 16, 11, 12, 13, 14, 15, 16, 11, 12, 13, 14, 15, 16]

In [33]:
del d7[2:5]
d7

[11, 12, 12, 13, 14, 15, 16, 11, 12, 13, 14, 15, 16]

In [34]:
del d7[10:]
d7

[11, 12, 12, 13, 14, 15, 16, 11, 12, 13]

In [36]:
# 리스트에 추가 append
d7.append(100)
d7

[11, 12, 12, 13, 14, 15, 16, 11, 12, 13, 100, 100]

In [39]:
d7.append([2000,1000])
d7

[11, 12, 12, 13, 14, 15, 16, 11, 12, 13, 100, [2000, 1000]]

In [40]:
d8 = [15,49,20,40,34,2,45]

In [45]:
# 오름차순으로 정렬
d8.sort()
d8

[2, 15, 20, 34, 40, 45, 49]

In [56]:
# 내림차순 정렬
d8 = [15,49,20,40,34,2,45]
s_d1 = d8.reverse() # 오름차순으로 정렬한 다음 뒤집기
print(d8)

d8 = [15,49,20,40,34,2,45]
s_d2 = d8.sort(reverse=True)
print(d8)

s_d3 = sorted(d8)[::-1]
print(s_d3)

[45, 2, 34, 40, 20, 49, 15]
[49, 45, 40, 34, 20, 15, 2]
[49, 45, 40, 34, 20, 15, 2]

In [58]:
# 특정값의 index 알아내기
s_d3.index(34)

3

In [62]:
# 값 삽입
s_d3.insert(3, 100)
print(s_d3)
s_d3.insert(3,['가','나'])
print(s_d3)

[49, 45, 40, 100, ['가', '나'], 100, 100, 100, 34, 20, 15, 2]
[49, 45, 40, ['가', '나'], 100, ['가', '나'], 100, 100, 100, 34, 20, 15, 2]

In [64]:
# 값 지우기 - 앞에 있는 값이 먼저 지워짐
s_d3.remove(100)
s_d3

[49, 45, 40, ['가', '나'], ['가', '나'], 100, 100, 34, 20, 15, 2]

In [65]:
# 값 꺼내기 -> pop()
s1 = s_d3.pop() #마지막 값이 꺼내지고 리스트에서는 삭제된다.
print(s1, s_d3)

2 [49, 45, 40, ['가', '나'], ['가', '나'], 100, 100, 34, 20, 15]

In [66]:
s2 = s_d3.pop(2) # 해당 인덱스 위치의 값이 떠내지고 리스트에서 삭제됨
print(s2, s_d3)

40 [49, 45, ['가', '나'], ['가', '나'], 100, 100, 34, 20, 15]

In [67]:
# 리스트의 확장
d3 = [1,2,3,4,5,6,7,8,9]
d6 = [11,12,13,14,15,16]

d3.extend(d6)
print(d3)
print(d6)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16]
[11, 12, 13, 14, 15, 16]