### 튜플(tuple) 자료형
리스트는 []로 표시<br/>
튜플은 ()로 표시<br/>

리스트는 데이터를 추가, 수정, 삭제 가능<br/>
<b>튜플은 데이터가 저장되면 데이터를 변경 불가</b>

In [1]:
t1 = ()
t2 = tuple()
print(t1)
print(t2)

()
()

In [2]:
t3 = (1,2,3,4,5,6)
t4 = 1,2,3,4,5,6
t5 = ('a','b','c','d','e')
print(t3)
print(t4)
print(t5)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)
('a', 'b', 'c', 'd', 'e')

In [3]:
print(t3[2])

3

In [4]:
del t3[2] # 튜플 데이터는 삭제할 수 없다.

TypeError: 'tuple' object doesn't support item deletion

In [5]:
t3[3] = 20 # 튜플 데이터는 수정할 수 없다.

TypeError: 'tuple' object does not support item assignment

In [6]:
print(t5[2:4])

('c', 'd')

In [7]:
print(t3+t4)

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [8]:
print(t5*3)

('a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e')

In [9]:
len(t5)

5

In [12]:
print(t3+('a',)) # 값이 1개인 튜플은 ,를 표시하여 튜플로 처리한다.

(1, 2, 3, 4, 5, 6, 'a')